.card-component {
    box-shadow: 3px 3px 3px 3px gray;
    margin: 20px;
    padding: 10px;
    width: 250px;
    height: 350px;
}

.card-component .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}