.header {
    background: blue;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header input {
    width: 800px;
    height: 33px;
}

.card-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.card-component {
    box-shadow: 3px 3px 3px 3px gray;
    margin: 20px;
    padding: 10px;
    width: 250px;
    height: 300px;
}

.card-component .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
